<div class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"><%= t ".header" %></h3>
      <div class="pull-right">
        <%= link_to t(".create_button"), new_admin_category_path, class: "btn btn-block btn-success" %>
      </div>
    </div>
    <div class="box-body table-responsive">
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <th width="10%" class="text-center"><%= t ".id" %></th>
            <th width="60%"><%= t ".name" %></th>
            <th width="10%" class="text-center"><%= t ".product_num" %></th>
            <th width="20%" class="text-center"><%= t ".actions" %></th>
          </tr>
          <%= render @categories %>
        </tbody>
      </table>
    </div>
    <div class="box-footer clearfix">
      <%= paginate @categories %>
    </div>
  </div>
</div>
